<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>I'm Feeling Hungry</title>

    <!-- STYLESHEETS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>
    <script src="vendor/handlebars/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="/scripts/app.js"></script>

  </head>

  <body>
    <!-- Text input-->
    <div class="form-group">
      <div class="col-md-4">
        <form class="form-inline" id="newSearchForm">
          <input name="query" type="text" placeholder="search" class="form-control input-md" required="">
          <input name="city" type="text" placeholder="city" class="form-control input-md" required="">
          <button id="searchButton" name="singlebutton" class="btn btn-primary">I'm Feeling Hungry</button>
        </form>
        <div class="recent-searches"></div>
      </div>
    </div>
  </body>
</html>
