body {
  background-image: url("/images/background.jpg");
  background-repeat: no-repeat;;
  background-position: center;
  background-size: cover;
  height: 580px;
  color: white;

}

#results {
  text-align: center;
  margin-top: 100px;
  color: black;
  background-color: rgba(255,215,0,0.5);
  font-size: 20px;
}

#question {
  text-align: center;
  font-family: monospace;
  color: white;
}

#buttons {
  margin-top: 20px;
  text-align: center;
}
